body{background:#ffa;font-family:helvetica;padding:0;margin:0}
h1{font-size:12pt;margin:0;padding:5px;background:#a88;color:#000;border-bottom:1px dashed #000}
a{text-decoration:none;color:#a00;font-weight:bolder}
a:hover{background:#aaa;color:#000}
