[% SET acomment = acomment | html_entity | html_line_break %]
[% PERL %]
    my $comment = $stash->get('acomment');
    if ($comment) {
      $comment    =~ s{(http|https|ftp|mailto)://(\S+)}{<a href="$1://$2"><img src="/icons/silk/link.png" alt="link" title="link" /></a>}smgix;
    }
    $stash->set('acomment' => $comment);
[% END %]
[% acomment %]
