<?xml version="1.0" encoding="utf-8" ?>
<instrument_utilisation id_instrument_utilisation="[% model.id_instrument_utilisation %]" date="[% model.date %]" total_insts="[% model.total_insts %]" perc_utilisation_total_insts="[% model.perc_utilisation_total_insts %]" perc_uptime_total_insts="[% model.perc_uptime_total_insts %]" official_insts="[% model.official_insts %]" perc_utilisation_official_insts="[% model.perc_utilisation_official_insts %]" perc_uptime_official_insts="[% model.perc_uptime_official_insts %]" prod_insts="[% model.prod_insts %]" perc_utilisation_prod_insts="[% model.perc_utilisation_prod_insts %]" perc_uptime_prod_insts="[% model.perc_uptime_prod_insts %]" id_instrument_format="[% model.id_instrument_format %]" />
