<run id_run="[% run.id_run %]" batch_id="[% run.batch_id %]" id_instrument="[% run.id_instrument %]" priority="[% run.priority %]" actual_cycle_count="[% run.actual_cycle_count %]" expected_cycle_count="[% run.expected_cycle_count %]" is_paired="[% run.is_paired %]" id_run_pair="[% run.run_pair.id_run %]" team="[% run.team %]" name="[% run.name %]" id_run_status="[% run.current_run_status.id_run_status %]" date="[% run.current_run_status.date %]" id_run_status_dict="[% run.current_run_status.id_run_status_dict %]" id_user="[% run.current_run_status.id_user %]" username="[% run.current_run_status.user.username %]" description="[% run.current_run_status.run_status_dict.description %]" loader="[% run.loader_info.loader %]" loading_date="[% run.loader_info.date %]"/>
