[% IF dev != 'live'; INCLUDE devel_header.tt2; END %]

Instrument [% instrument %] now has a status of "[% status %]" in NPG tracking.

The following comment was added to this status change:

[% comment %]

You can get more detail about the instrument through NPG:

[% INCLUDE npg_tracking_web_url.tt2 %]/instrument/[% instrument %]

[% INCLUDE signature.tt2 %]
